* {
  font-family: "Comic Neue";
}
html {
  height: 100%;
}
body {
  background-color: black;
  margin: 0;
  padding: 0;
  min-height: 100%;
}
.header {
  color: white;
  border: 5px solid white;
  display: flex;
  border-radius: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 50%;
  transform: translateX(50%);
  text-align: center;
}
.header h1 {
  margin-left: 10px;
  margin-right: 15px;
}
.header h3 {
  transform: translateY(12px);
  margin-right: 15px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover,
a:active {
  color: gray;
}
.right {
  margin-left: auto;
  display: flex;
}
canvas {
  display: block;
  width: 100%;
  top: 0;
  position: absolute;
  height: 100%;
  z-index: -1;
}
#browser {
  width: 80%;
  margin: 50px auto;
  height: 480px;
  display: block;
  border: 5px solid gray;
  border-radius: 15px;
  background-color: white;
  color: black !important;
}
