* {
  font-family: "Comic Neue";
}
body {
  background-color: rgba(0,0,0,0.5)
}
.header {
  color: white;
  border: 5px solid white;
  display: flex;
}
.header h1 {
  margin-left: 10px;
  margin-right: 15px;
}
.header h3 {
  transform: translateY(12px);
  margin-right: 15px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover,
a:active {
  color: gray;
}
.right {
  margin-left: auto;
  display: flex;
}
